body{ margin:0px; }

img{ border-radius: 5px; }
a { 
  font-weight: 300;
  text-decoration: none; 
}

.container {
  font-family: sans-serif;
}

.headerDiv {
  padding: 15px;
  background-color: #1e6292;
  align-items: center;
}

.headerText {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 5px 2px #000;
  margin: 0px 0px 15px 0px;
}

.headerSubtext {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 0px;
}

.pdf::before {
  content: "\01F4C4   ";
}
